.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cartItemBtn button {
    all: unset;
    width: 30px;
    height: 30px;
    border: 1px solid #749cd1;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px;
}

.cartItemBtn button:hover {
    background-color: #749cd1;
    color: white;
}

@media screen and (max-width:768px) {
    .cartItem{
        flex-direction: column!important;
    }
}