.simpleCard{
    background-color:white!important;
    text-align: center;
    color:#012f73!important;
    border: 1px double #012f73;
    border-radius: 10px;
    padding: 13px 10px;
    transition: all .8s;
}
.simpleCard span{
    background-color: #012f73;
    color: white;
    padding: 8px;
    text-align: center;
    border-radius: 50%;
    transition: all .8s;
}
.simpleCard h6{
    font-weight: bold;
    margin: 10px 0;
}
.simpleCard:hover{
    color:white!important;
    background-color:#012f73!important;
}
.simpleCard:hover span{
    background-color: white;
    color: #012f73;
}